.main-wrapper {
  padding: 0 !important;
}

main {
  display: none;
}

.qr-code-wrapper {
  display: block;
  margin: 0 auto;
  min-height: 300px;
  min-width: 300px;
}

textarea {
  text-align: justify;
}
